<p>Please input a number below.</p>
<input type="number" ng-model="numberOfPrimes"></input>
<br/>
<span ng-show="hasError" style="color: red">Please enter an integer. The minimium number is 1. </span>
<div ng-show="primeTables != null">
    <table>
        <tbody ng-repeat="row in primeTables track by $index">
            <tr ng-repeat="item in row track by $index">
                <td>{{item == 0 ? '' : item}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <button ng-disabled="hasError" ng-click="generatePrimeTable()"/>
</div>